{% extends 'base.html.twig' %}

{% block title %}Camping index{% endblock %}

{% block body %}
    <h1>Camping index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>ImgPath</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for camping in campings %}
            <tr>
                <td>{{ camping.id }}</td>
                <td>{{ camping.type }}</td>
                <td>{{ camping.imgPath }}</td>
                <td>{{ camping.nom }}</td>
                <td>
                    <a href="{{ path('camping_show', {'id': camping.id}) }}">show</a>
                    <a href="{{ path('camping_edit', {'id': camping.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('camping_new') }}">Create new</a>
{% endblock %}
