{% extends 'base.html.twig' %}

{% block title %}Camping{% endblock %}

{% block body %}
    <h1>Camping</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ camping.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ camping.type }}</td>
            </tr>
            <tr>
                <th>ImgPath</th>
                <td>{{ camping.imgPath }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('camping_index') }}">back to list</a>

    <a href="{{ path('camping_edit', {'id': camping.id}) }}">edit</a>

    {{ include('camping/_delete_form.html.twig') }}
{% endblock %}
