{% extends 'base.html.twig' %}

{% block title %}Log up!
{% endblock %}
{% block body %}
	<div class="container" style="margin-top:100px;margin-bottom:190px;">
		<div class="row justify-content-center">
			<div class="container col-lg-6 ">
					<div class="panel panel-primary">
						<div class="panel-heading">INSCRIPTION</div>
						<div class="panel-body">
							<div class="text-center">
								{{ form_start(form) }}

								<div>
									<label>Nom</label><br>
									{{ form_widget(form.nom) }}
								</div>

								<div>
									<label>
										Prenom</label><br>
									{{ form_widget(form.prenom) }}
								</div>
								<div>
									<label>Email</label><br>
									{{ form_widget(form.email) }}
								</div>
								<div>
									<label>Mot de passe</label><br>
									{{ form_widget(form.password) }}
								</div>
								<div>
									<label>login</label><br>
									{{ form_widget(form.userName) }}
								</div>
								<div>
									<label>Tele</label><br>
									{{ form_widget(form.tel) }}
								</div>
							</div>
						</div>
						<div class="panel-footer">
							<button class="btn btn-primary">{{ button_label|default('sauvegarder') }}</button>
						</div>
						{{ form_end(form) }}
					</div>
				
			</div>
		</div>
	</div>
{% endblock %}
