{% extends 'base.html.twig' %}

{% block title %}Marker index{% endblock %}

{% block body %}
    <h1>Marker index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>Lat</th>
                <th>Lng</th>
                <th>Type</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for marker in markers %}
            <tr>
                <td>{{ marker.id }}</td>
                <td>{{ marker.name }}</td>
                <td>{{ marker.address }}</td>
                <td>{{ marker.lat }}</td>
                <td>{{ marker.lng }}</td>
                <td>{{ marker.type }}</td>
                <td>{{ marker.description }}</td>
                <td>
                    <a href="{{ path('marker_show', {'id': marker.id}) }}">show</a>
                    <a href="{{ path('marker_edit', {'id': marker.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('marker_new') }}">Create new</a>
{% endblock %}
