{% extends 'base.html.twig' %}

{% block title %}Activite{% endblock %}

{% block body %}
    <h1>Activite</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ activite.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ activite.type }}</td>
            </tr>
            <tr>
                <th>ImgPath</th>
                <td>{{ activite.imgPath }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ activite.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('activite_index') }}">back to list</a>

    <a href="{{ path('activite_edit', {'id': activite.id}) }}">edit</a>

    {{ include('activite/_delete_form.html.twig') }}
{% endblock %}
