{% extends 'base.html.twig' %}

{% block title %}Resto{% endblock %}

{% block body %}
    <h1>Resto</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ resto.id }}</td>
            </tr>
            <tr>
                <th>ImgPath</th>
                <td>{{ resto.imgPath }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ resto.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ resto.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('resto_index') }}">back to list</a>

    <a href="{{ path('resto_edit', {'id': resto.id}) }}">edit</a>

    {{ include('resto/_delete_form.html.twig') }}
{% endblock %}
